## 기본 자료형

In [8]:
"부산대학교"

'부산대학교'

In [9]:
'부산대학교'

'부산대학교'

In [10]:
'Tom\'s House'

"Tom's House"

In [11]:
"Tom's House"

"Tom's House"

In [12]:
"탐이 말했다. \"나는 배고파\""

'탐이 말했다. "나는 배고파"'

In [13]:
'탐이 말했다. "나는 배고파"'

'탐이 말했다. "나는 배고파"'

In [15]:
문자열 = """여러 줄 문자열
라인 2
라인 3
라인 4"""

print(문자열)

여러 줄 문자열
라인 2
라인 3
라인 4

## 변수

In [16]:
# java
# int age = 20;

In [20]:
age = 20
age = "부산"

In [18]:
# Type Hinting
age: int = 20

In [19]:
age = "부산"

## 기본 연산자

In [22]:
10 / 3  # / 의 결과는 항상 실수

3.3333333333333335

In [23]:
10 // 3 # 몫

3

In [24]:
10 % 3

1

In [25]:
10 / 2

5.0

In [27]:
divmod(10, 3)  # 몫과 나머지를 한 번에 계산 => tuple 타입

(3, 1)

## 문자열 포맷팅

In [29]:
"이름 : %s, 지역 : %s" % ("이진석", "대전")  # 파이썬 2

'이름 : 이진석, 지역 : 대전'

In [30]:
"이름 : {}, 지역 : {}".format("이진석", "대전")

'이름 : 이진석, 지역 : 대전'

In [31]:
"이름 : {0}, 지역 : {1}".format("이진석", "대전")

'이름 : 이진석, 지역 : 대전'

In [32]:
"이름 : {1}, 지역 : {0}".format("이진석", "대전")

'이름 : 대전, 지역 : 이진석'

In [33]:
"이름 : {}, 지역 : {}, {}".format("이진석", "대전", "이진석")

'이름 : 이진석, 지역 : 대전, 이진석'

In [35]:
# 함수 : 위치 인자 (Positional Arguments)
"이름 : {0}, 지역 : {1}, {0}".format("이진석", "대전")

'이름 : 이진석, 지역 : 대전, 이진석'

In [36]:
# 함수 : 키워드 인자 (Keyword Arguments)
"이름 : {name}, 지역 : {region}, {name}".format(name="이진석", region="대전")

'이름 : 이진석, 지역 : 대전, 이진석'

## 비교 연산

In [37]:
1 == 1

True

In [38]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

In [39]:
id(list1), id(list2)

(4560358216, 4558800840)

In [40]:
list1 == list2

True

In [41]:
list1 is list2

False

In [42]:
100 > 99

True

In [43]:
"100" > "99"

False

In [44]:
["1", "0", "0"] > ["9", "9"]

False

`bool`이 아닌 값들에 대한 판정은?

In [45]:
True, False

(True, False)

In [48]:
bool(0), bool(1)

(False, True)

In [50]:
bool([]), bool([''])

(False, True)

In [51]:
bool(None)

False

In [ ]:
name = "이진석"

In [52]:
name

NameError: name 'name' is not defined

## 기본 자료구조

In [53]:
list1 = ["hello", 1, 2, ["world", "python"]]

### list, tuple, set, dict

In [57]:
# list
mylist1 = list()
mylist1 = []
mylist2 = [1, 2, 3, 1, 2, 3]
mylist2

[1, 2, 3, 1, 2, 3]

In [62]:
# tuple : 변경불가능 (Immutable)
mytuple1 = tuple()
mytuple1 = ()
mytuple2 = (1, 2, 3, 1, 2, 3)
mytuple2

(1, 2, 3, 1, 2, 3)

In [60]:
# set : 중복 배제, 순서를 보장하지 않음.
myset1 = set()
myset2 = {1, 2, 3, 1, 2, 3}
myset2

{1, 2, 3}

In [63]:
# 만약 정렬이 필요하면, 직접 정렬을 하는 것이 필요
sorted(myset2)

[1, 2, 3]

In [61]:
# dict
mydict1 = dict()
mydict1 = {}
mydict2 = {'a': 1, 'b': 2, 'c': 3, 'a': 4, 'b': 5}
mydict2

{'a': 4, 'b': 5, 'c': 3}

In [64]:
name = "이진석"
name[0] = "김"

TypeError: 'str' object does not support item assignment

In [65]:
name = list("이진석")  # str -> list
print(name)
name[0] = "김"
name

['이', '진', '석']

['김', '진', '석']

In [67]:
val = [1, 2, 3, 1, 2, 3]

In [68]:
type(val)

list

In [69]:
tuple(val)

(1, 2, 3, 1, 2, 3)

In [70]:
set(val)

{1, 2, 3}

In [71]:
list(set(val))

[1, 2, 3]

In [80]:
음식_메뉴_리스트 = ['김치찌개', '볶음밥', '라면']
음식_메뉴_리스트

['김치찌개', '볶음밥', '라면']

In [81]:
음식_메뉴_리스트.append('수박')
음식_메뉴_리스트

['김치찌개', '볶음밥', '라면', '수박']

In [82]:
음식_메뉴_리스트.insert(1, '수박')
음식_메뉴_리스트

['김치찌개', '수박', '볶음밥', '라면', '수박']

In [83]:
음식_메뉴_리스트.extend([
    '순대국밥', '비냉', '물냉'
])
음식_메뉴_리스트

['김치찌개', '수박', '볶음밥', '라면', '수박', '순대국밥', '비냉', '물냉']

In [84]:
# 실수 포인트
음식_메뉴_리스트.extend('햄버거')
음식_메뉴_리스트

['김치찌개', '수박', '볶음밥', '라면', '수박', '순대국밥', '비냉', '물냉', '햄', '버', '거']

In [85]:
음식_메뉴_리스트.extend(['김치찌개', '김치찌개'])
음식_메뉴_리스트

['김치찌개',
 '수박',
 '볶음밥',
 '라면',
 '수박',
 '순대국밥',
 '비냉',
 '물냉',
 '햄',
 '버',
 '거',
 '김치찌개',
 '김치찌개']

In [86]:
음식_메뉴_리스트.remove('김치찌개')  # 반환값이 없어요.
음식_메뉴_리스트

['수박', '볶음밥', '라면', '수박', '순대국밥', '비냉', '물냉', '햄', '버', '거', '김치찌개', '김치찌개']

In [87]:
음식_메뉴_리스트.pop(0)  # 삭제한 대상을 반환해줍니다.

'수박'

### 인덱스 (index)

list, tuple, str 은 모두 index를 지원 => 순서를 보장

In [89]:
import random

숫자_리스트 = random.sample(range(100), 6)
숫자_리스트

[64, 6, 94, 24, 21, 57]

In [90]:
숫자_리스트

[64, 6, 94, 24, 21, 57]

In [91]:
"안녕, 세상아"

'안녕, 세상아'

In [93]:
last_idx = len(숫자_리스트) - 1
숫자_리스트[last_idx]

57

In [94]:
숫자_리스트[-1]

57

In [95]:
알파벳 = "abcdefghijklmnopqrstuvwxyz"

In [98]:
알파벳[30]

IndexError: string index out of range

슬라이싱

In [99]:
알파벳[1]

'b'

In [100]:
알파벳[1:]

'bcdefghijklmnopqrstuvwxyz'

In [101]:
알파벳[1::2]

'bdfhjlnprtvxz'

In [102]:
알파벳[2:-2]

'cdefghijklmnopqrstuvwx'

In [103]:
알파벳[::-1]

'zyxwvutsrqponmlkjihgfedcba'

### 튜플

In [104]:
2 + 3 * 4

14

In [105]:
(2 + 3) * 4

20

In [106]:
(1, 2)

(1, 2)

In [107]:
1, 2

(1, 2)

In [112]:
숫자_튜플 = 1,

for number in 숫자_튜플:
    print(number)

1

`seaborn` 시각화 라이브러리

In [113]:
import seaborn as sns

In [115]:
df = sns.load_dataset('titanic')
print(df.shape)
df.head()  # 처음 5행만 출력

(891, 15)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [119]:
df.iloc[-5:]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [120]:
i = 10
j = 20

In [121]:
i, j = 10, 20

In [122]:
i, j = j, i

In [123]:
i

20

In [124]:
j

10